$maincolor: hsla(0, 0%, 100%, 0.938); //hsl(215, 100%, 50%)
$letterColors: hsl(216, 75%, 26%);
$iconColor: hsl(216, 75%, 26%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: $letterColors;
}

//START NAV
a{
    text-decoration: none;
    color: $letterColors;
}

nav{
    font-size: 1.7em;
    position: fixed;
    width: 100%;
    z-index: 999;
    ul{
        list-style-type :none;
        display: flex;
        justify-content: space-around;
        width: 30%;  
        font-size: 0.8em;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $maincolor;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.7);
    .logo{
        cursor: pointer;
    }
}

.burguer{
    display: none;
}

.burguer div{
    width: 25px;
    height: 3px;
    background-color: $iconColor;
    margin: 4px;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    nav ul{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: $maincolor;
        li{
            opacity: 0;
        }
    }
    .burguer{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}
// END NAV

// MAIN PAGE
#home{
    width: 100%;
    height: 93vh;
    background-image: url("https://i.imgur.com/I5cUzsM.jpg");
    background-color: #cccccc;
    background-position: bottom;
    background-repeat: no-repeat; 
    background-size: cover;
    @media screen and (max-width: 768px){
        background-position: 60% 50%;
    }
}



.next{
    margin-top: -6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    div{
        height: 6vh;
        background-color: white;
        display: inline-block;
        border: solid 3px white;
    }
    div:not(#mid1, #mid2){
        flex-grow: 1;
    }
    #mid1{
        max-width: 40px;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
    #mid2{
        max-width: 40px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
}

// END MAIN PAGE

section:not(#home){
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: 7vh;
    h2{
        font-size: 2.5em;
        margin: 10px;
    }
}

// PORTFOLIO
#portfolio{
    .allImgs{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
        margin: auto;
        .taemsa{background-image: url("https://i.pinimg.com/564x/2e/6d/c2/2e6dc2ebc4e8824a1937540e64499081.jpg");}
        .atzur{background-image: url("https://i.pinimg.com/564x/1e/eb/33/1eeb330e1f70405483662871e882f249.jpg");}
        .drumCodePen{background-image: url("https://i.imgur.com/gqXboQz.jpg");}
        
        .content{
            background-color: #cccccc;
            background-position: top;
            background-repeat: no-repeat; 
            background-size: cover;
            width: 28%;
            @media screen and (max-width: 768px){
                width: 90%;
            }
            margin: 20px;
            height: 50vh;
            position: relative;
            box-shadow: 4px 4px 10px rgba(37, 39, 39, 0.651);
            transition: all .4s ease-in-out;
            &:hover{
                cursor: pointer;
                transform: scale(1.02);
            }
            div{
                width: 100%;
                position: absolute;
                bottom:0;
                padding: 17px;
                background-color: $maincolor;
                h3{
                    margin-bottom: 13px;
                }
                i, svg{
                    float: right;
                    margin: 20px 7px 0 7px;
                    font-size: 1.65em;
                    a{z-index: 80;}
                }
            }
        }
    }
}

// END PORTFOLIO



// FOOTER
footer{
    width: 100%;
    background-color: $letterColors;
    text-align: center;
    padding: 1%;
    position: relative;
    bottom: 0px;
    line-height: 1.6;
    font-size: 1.2em;
    *{color: $maincolor; margin:5px;}
    a{font-size: 1.5em;}
    
}

// END OF FOOTER